.education {
    padding: 100px 12%;
}

.education .section-number {
    font-size: 18px;
}

.education-item strong {
    color: #5C2D91;
    font-size: 14px;
}

.education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.education-column {
    padding-top: 70px;
}

.education-item {
    display: grid;
    grid-template-columns:1fr;
    padding: 25px 0;
    border-top: 1px solid #d1d5db;
}

.education-item > span {
    color: #6b7280;
    font-size: 14px;
}
.education-item h3 {
    margin: 0 0 8px;
    font-size: 20px;
}

.education-item p {
    margin: 5px 0;
    color: #4b5563;
}


.certifications {
    display: grid;
    grid-template-columns: 1fr
    

}

.certifications div {
    padding: 25px;
    border: 1px solid #d1d5db;
}

@media (max-width: 768px) {
    .education {
        padding: 70px 20px;
    }

    .education h2 {
        font-size: 32px;
    }
    .education-item {
        grid-template-columns: 1fr;
    }
    .education-grid {
        grid-template-columns: 1fr;
    }
    .certifications {
        grid-template-columns: 1fr;
    }

}