.education {
    padding: 80px 60px;
}

.education h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.education-grid {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.education-card {
    width: 350px;
    padding: 25px;

    border: 1px solid #d1d5db;
    border-radius: 10px;
}

.education-card h3 {
    font-size: 22px;
}