body {
    margin: 0;
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
    color: #111827;
    background-color:#f7eef1;

* {
    box-sizing: border-box;
}

section {
    border-bottom: 1px solid #e1bac1;
}
}