.navbar {
    padding: 22px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e5e7eb;
    background-color: white;
}

.logo {
    margin: 0;
    font-size: 22px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #111827;
    font-size: 14px;
}

.nav-links a:hover {
    color: #2563eb;
}

.cv-button {
    padding: 9px 18px;
    border: 1px solid #111827;
    border-radius: 6px;
}


@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }
    .nav-links {
        display: none;
    }
}