.navbar {
    padding: 30px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e5e7eb;
    background-color: #9B4A5A;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    font-size: 33px;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.nav-links a:hover {
    color: #04112c;
}

.cv-button {
    padding: 9px 18px;
    border: 1px solid white;
    border-radius: 6px;
}


@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }
    .nav-links {
        display: none;
    }
}